body {
    font: 16px/1.4 'Roboto Condensed', sans-serif;
    background-color: #DDF7F7;
    margin: 0;
    color: #868686;
}

header {
    background-color: #2E2D29;
}

h1 {
    text-transform: uppercase;
    color: #fff;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 30px;
}

#error {
    background: #D93250;
    color: #F5F5F5;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

fieldset {
    border: 0;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

input {
    padding: 8px 6px;
    margin-left: 15px;
}

label {
    margin-left: 30px;
}

